body {
    font-family: 'Roboto', sans-serif;
    /* background image none was here */
    background-image:  url('https://source.unsplash.com/1600x900/?landscape');
}

h4 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

.card {
    height: 250px;
    width: 100px;
}

#dash_container {
    /* background: linear-gradient(109.6deg, rgb(0, 37, 84) 11.2%, rgba(0, 37, 84, 0.32) 100.2%); */
    background-color: #000000d0;
    padding: 2em;
    border-radius: 70px;
    margin: 2em;
    justify-content: center;
    border-radius: 70px;
}

#current_temp {
    font-size: 100px;
}

#city {
    font-size: 24px;
    
}


/* removes the margins so the two "current weather" cards look like one long card */
.mr-n1 {
    margin-right: -0.25rem !important;
}
.ml-n1 {
    margin-left: -0.25rem !important;

}


/* media query stuff */



