body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 100vh;
    color: white;
    background: darkgray;
    font-family: Arial, Helvetica, sans-serif;
    background-image: none;

}

.search-div {
    border-radius: 30px;
}

.header {
    font-size: 1px;
}

.container {
    background: lightblue;
    padding: 2em;
    border-radius: 30px;
    height: 75vh;
    width: 60vw;
    margin: 1em;
    max-height: 600px;
    max-width: 400px;
}

.card-text {
    font-size: 12px;
}


/* media query stuff */

.card-columns {
    @include media-breakpoint-only(lg) {
      column-count: 5;
    }
    @include media-breakpoint-only(xl) {
      column-count: 5;
    }
  }

